name: Automate Gradlew Build

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "21"
          check-latest: true

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          gradle-home-cache-cleanup: false

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build (release)
        run: ./gradlew clean build -x test --no-daemon --stacktrace

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: saturnclient-latest
          path: build/libs/saturnclient-*.jar
          if-no-files-found: error
